# FOR LOOP

In [1]:
a="gurukula"
for i in a:
    print(i)

g
u
r
u
k
u
l
a

In [2]:
for i in "gurukula":
    print(i)

g
u
r
u
k
u
l
a

In [5]:
a=["happy learning",20,2.9]
for i in a:
    print(i)
print("program terminated")

happy learning
20
2.9
program terminated

In [6]:
list1=[10,20,30,40]
sum=0
for i in list1:
    sum=sum+i
print("total vslue is:",sum)
print("program terminated")

total vslue is: 100
program terminated

In [7]:
a=(10,20,30)
for i in a:
    print(i)

10
20
30

# FOR LOOP WITH RANGE FUNCTION

In [8]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range (5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [12]:
for i in range (1,11,2):
    print(i)

1
3
5
7
9

In [15]:
for i in range(-1,-10,-2):
    print(i)

-1
-3
-5
-7
-9

In [16]:
a="happy learning"
l=len(a)
print(l)

14

In [17]:
a="happy learning"
l=len(a)
print(l)
for i in range(l):
    print(a[i])

14
h
a
p
p
y

l
e
a
r
n
i
n
g

In [22]:
list1=["gurukula","happy"]
for i in range(len(list1)):
    print(list1[i])

gurukula
happy

# FOR LOOP WITH ELSE

In [23]:
for x in range (0,5):
    print(x)
else:
    print("i am from else block")

0
1
2
3
4
i am from else block

In [24]:
a="gurukula"
for i in a:
    print(i)
else:
    print("I am from else part")
print("program terminated")

g
u
r
u
k
u
l
a
I am from else part
program terminated

In [26]:
a=["gurukula","happy learning",20]
for i in a:
    print(i)
else:
    print("I am from else part")
print("program terminated")

gurukula
happy learning
20
I am from else part
program terminated

In [27]:
for i in range (1,21):
    if (i%5==0):
        print(i)

5
10
15
20

In [28]:
for i in range(1,21):
    if(i%5==0):
        print(i,"divisible by 5")

5 divisible by 5
10 divisible by 5
15 divisible by 5
20 divisible by 5

In [29]:
for i in range (1,21):
    if (i%5==0):
        print(i,"divisible by 5")
    else:
        print(i,"not divisible by 5")

1 not divisible by 5
2 not divisible by 5
3 not divisible by 5
4 not divisible by 5
5 divisible by 5
6 not divisible by 5
7 not divisible by 5
8 not divisible by 5
9 not divisible by 5
10 divisible by 5
11 not divisible by 5
12 not divisible by 5
13 not divisible by 5
14 not divisible by 5
15 divisible by 5
16 not divisible by 5
17 not divisible by 5
18 not divisible by 5
19 not divisible by 5
20 divisible by 5

# NESTESD FOR LOOP

In [31]:
list1=["happy ","learning"]
for i in range (0,3):
    print("outer loop",i)
    for j in list1:
        print("inner loop:",j)

outer loop 0
inner loop: happy
inner loop: learning
outer loop 1
inner loop: happy
inner loop: learning
outer loop 2
inner loop: happy
inner loop: learning

In [32]:
list1=["bmw","audi"]
list2=["block","white"]
for x in list1:
    for y in list2:
        print(x,y)

bmw block
bmw white
audi block
audi white